@import "../../../styles/variables.scss";

.container {
  display: flex;
  flex-direction: column;
}

.images {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 20px;
  border-radius: 1rem;
  overflow: hidden;
  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .largeImage {
    grid-column: span 2;
    grid-row: span 2;
  }
}
.photos{
  z-index: 1;
  position:absolute;
  right: 8px;
  bottom: 8px;
  
}
.gridDense{
  path{
      fill:$color-primary-500;
  }
}
.title {
  margin-top: 24px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;

  .listingName {
    font-size: $font-h5;
    font-weight: $font-bold;
    line-height: 28px;
    color: $color-gray-600;
  }

  .listingPrice {
    font-size: $font-h4;
    font-weight: $font-bold;
    line-height: 32px;
    color: $color-black;
  }

  .shareButon {
    color: $color-primary-500;
    margin-right: 10px;
    font-weight: $font-semibold;
    font-size: $font-button;
    svg{
      path{
        fill: $color-primary-500;
      }
    }
    span{
      margin-left:10px;
    }
  }
}

.details {
  display: flex;
  justify-content: space-between;

  .listingDetails {
    display: flex;
    flex-direction: column;
    width: 70%;

    .description {
      border-block: 1px solid $color-gray-100;
      padding-block: 32px;
      > h6 {
        font-size: $font-body-normal;
        font-weight: $font-bold;
        line-height: 24px;
        color: $color-black;
        margin-bottom: 12px;
      }

      > p {
        font-size: $font-body-small;
        font-weight: $font-medium;
        line-height: 22px;
        color: $color-gray-400;
      }
    }

    .location {
      border-bottom: 1px solid $color-gray-100;
      padding-block: 32px;
      > h6 {
        font-size: $font-body-normal;
        font-weight: $font-bold;
        line-height: 24px;
        color: $color-black;
        margin-bottom: 4px;
      }

      > p {
        font-size: $font-body-normal;
        font-weight: $font-medium;
        line-height: 22px;
        color: $color-gray-400;
      }
    }

    .message {
      padding-block: 32px;

      > h6 {
        font-size: $font-body-normal;
        font-weight: $font-bold;
        line-height: 24px;
        color: $color-black;
        margin-bottom: 12px;
      }

      .messageBox {
        border: 1px solid $color-gray-100;
        width: 100%;
        padding: 1rem;
        border-radius: 1rem;
      }

      button {
        text-align: right;
        width: 100%;
      }
    }
  }

  .ownerDetails {
    border: 1px solid $color-gray-100;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    height: fit-content;
    margin-left: 30px;
    .ownerImage {
      width: 3rem;
      height: 3rem;
      aspect-ratio: 1;
      border-radius: 50%;
      margin-right: 12px;
    }

    > div {
      > h6 {
        font-size: $font-body-normal;
        font-weight: $font-bold;
        line-height: 24px;
        color: $color-black;
        margin-bottom: 4px;
      }

      > p {
        font-size: $font-body-small;
        font-weight: $font-medium;
        line-height: 22px;
        color: $color-gray-400;
      }
    }
  }
}

.mapContainer {
  width: 100%;
  height: 400px;
  border-radius: 1rem;
  border: 1px solid $color-gray-100;
  margin-bottom: 32px;
}

.actions {
  display: flex;
  margin-left: 30px;
  margin-top: 20px;

  :first-child {
    margin-right: 12px;
  }
}

.favError {
  text-align: center;
  justify-content: center;
  margin-top: 52px;
}

.errorTitlu{
  font-weight: $font-bold;
  font-size: $font-h5;
  color: $color-gray-700;
  margin-top: 51px;
}
.paragraph{
  font-weight: $font-semibold;
  font-size: $font-body-small;
  color: $color-gray-300;
  margin-bottom: 40px;
}
.button{
  width: 320px;
  margin: 1rem 14rem;
  
}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-gray-50;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    border: 1px solid $color-gray-200;
    p{
        font-weight: $font-bold;
        font-size: $font-button;
        color: $color-gray-600;
        margin-top: 20px;
    }
    div{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 20px;
        gap: 20px;
        width: 25%;
        
    }
}