@import "../../styles/variables.scss";

textarea {
  border: 1px solid $color-gray-200;
  padding: 10px 12px;
  width: 100%;
  border-radius: 8px;
  color: $color-black;
  font-size: $font-body-normal;
  font-weight: $font-medium;
  line-height: 24px;
  resize: none !important;
  height: auto;
  white-space: pre-wrap;
  overflow-wrap: break-word;

  &:hover,
  &:active,
  &:focus {
    border-color: $color-gray-400;
  }

  &:disabled {
    background: $color-gray-50;
    border: unset;
  }
}

textarea::placeholder {
  color: $color-gray-200;
  font-size: $font-body-normal;
  font-weight: $font-medium;
  line-height: 24px;
}

label {
  color: $color-gray-600;
  font-size: $font-body-small;
  font-weight: $font-medium;
  line-height: 22px;
  display: flex;
  margin-bottom: 4px;
}

textarea:focus:required {
  &:invalid {
    color: red;
    border-color: red;
    box-shadow: 0 0 6px red;
  }
  &:valid,
  &:placeholder-shown {
    border-color: green;
    box-shadow: 0 0 8px green;
  }
}

.error {
  textarea {
    border-color: $color-alert-400;
  }
  p {
    color: $color-alert-500 !important;
  }
}

.container {
  position: relative;
  p {
    font-size: $font-body-tiny;
    font-weight: $font-regular;
    line-height: 20px;
    margin-top: 4px;
    color: $color-gray-500;
  }
}

.disabled {
  fill: $color-gray-200;
}
