@import "../../styles/mixins.scss";

.layout {
  // background-image: linear-gradient(to top, #8988DD, rgba(255, 255, 255, 0.386));
  background-color: #ebebf9;
  padding: 32px;
  min-width: 220px;

  @include large{
    padding:2rem;
  }
  @include medium {
    padding: 2rem;
    min-width: 195px;
  }

  @include small {
    padding: 0.3rem;
    min-width: 226px;
  }
}
.container{
  display: flex;
  flex-direction: column;
  // border-radius: 25px;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 18px 18px 18px -18px inset;
  max-width: 1320px;
  min-width: 100px;
  margin:16px auto 32px auto;
  padding:32px;
  // background-color: rgba(227, 227, 227,1);
  color:black;
}
