@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.timelinePartida {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    @media screen and(max-width:600px) {
        & {
            justify-content: center;
        }
    }
}

.frameCampionat {
    border-width: 5px;
    height: 520px;
    width: 100%;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            $color-yellow,
            rgba(0, 0, 0, 0)) 1 100%;
    border-top: 5px transparent;
    margin-top: -55px;
}


.butonClasament {
    // width:210px;
    height: 55px;
    padding-left: 10px;
    z-index: 2;
    display: flex;
    position: relative;

    @include small {
        & img {
            width: 130px;
        }
    }
}

.stiri {
    margin-top: 7%;
    width: 100%;
    height: auto;
    border: 2px solid $color-yellow;
    background-color: rgba(13, 4, 11, 0.25);
    border-radius: 0 50px;
    padding: 20px;
}

.personal {
    margin-top: 7%;
    width: 100%;
    height: auto;
    border: 2px solid $color-yellow;
    background-color: rgba(13, 4, 11, 0.25);
    border-radius: 50px 0;
    padding: 20px;
}

.parteneri {
    margin-top: 7%;
    color: $color-dark-blue;

    .bgParteneri {
        background-color: $color-dark-blue;
        padding: 20px;
    }

    .img3 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        @media(max-width:600px) {
            flex-direction: column;
            align-items: center;
        }

    }

    img {
        width: 150px;
        @media(max-width:600px) {
        width: 130px;
        margin-bottom:15px;
        }
    }
}