@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.title {
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    & h3 {
        padding: 0 15px;
    }

    & .linie1,
    .linie2 {
        width: calc(50% - 120px);
        height: 10px;
        // border-width: 3px;
        // border-style: solid;
    }

    & .linie1 {
        background: 
            linear-gradient(45deg,
                $color-yellow,
                rgba(0, 0, 0, 0));
    }

    & .linie2 {
        background:
            linear-gradient(45deg, rgba(0, 0, 0, 0),
                $color-yellow);
    }

    @media screen and(max-width:500px) {

        & .linie1,
        .linie2 {
            display: none;
        }

        & {
            justify-content: center;
        }
    }
}