@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.frameCampionat {
    border-width: 5px;
    height: 520px;
    width: 100%;
    border-style: solid;
    border-image:
        linear-gradient(to bottom,
            $color-yellow,
            rgba(0, 0, 0, 0)) 1 100%;
    border-top: 5px transparent;
    margin-top: -55px;
}


.butonClasament {
    // width:210px;
    height: 55px;
    padding-left: 10px;
    z-index: 2;
    display: flex;
    position: relative;

    @include small {
        & img {
            width: 130px;
        }
    }
}

.stiri {
    margin-top:7%;
    width: 100%;
    height: 600px;
}