@import "../../styles/variables.scss";

.gridDense {
  path {
    fill: $color-primary-500;
  }
}

.modalTitlu {
  display: inline-flex;
  justify-content: space-between;
  height: 80px;
}
.chevron {
  margin: 28px 0px 0 39px;
  cursor: pointer;
  path {
    fill: $color-primary-500;
  }
}

.rightButons {
  display: inline-flex;
  justify-content: flex-end;
  width: 95%;
  margin-right: 15px;
}
.share {
  display: inline-flex;
  margin: 28px 0px 0px 39px;
  font-weight: $font-bold;
  font-size: $font-button;
  color: $color-primary-500;
  cursor: pointer;
  svg {
    path {
      fill: $color-primary-500;
    }
  }
  h5 {
    margin-left: 10px;
  }
}
.save {
  display: inline-flex;
  margin: 28px 20px 33px 39px;
  font-weight: $font-bold;
  font-size: $font-button;
  color: $color-primary-500;
  cursor: pointer;
  svg {
    path {
      fill: $color-primary-500;
    }
  }
  h5 {
    margin-left: 10px;
  }
}
.modalBody {
  display: flex;
  justify-content: space-around;
  align-self: center;
  flex-wrap: wrap;
  max-width: max-content;
  flex-direction: row;
}
.modalBody::-webkit-scrollbar {
  border-radius: 5px;
  width: 8px;
  height: 7px;
}
.modalBody::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #403633;
}

.largeImage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 20px 30px 20px;
  height: 50%;
  width: 50%;
  img {
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
}
.smallImage {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 50%;
  width: 50%;
  margin-bottom: 30px;
  gap:10px;
  img {
    width: 100%;
    height: 100%;
    object-fit:fill;
  }
}
