@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.timelinePartida {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & .linie {
        width: calc(100% - 250px);
        height: 5px;
        margin-bottom: 7px;
        // border: 2px solid $color-yellow;
        background-color: $color-yellow;
        animation: lineH 5s infinite linear;
    }


    @media screen and(max-width:600px) {
        & .linie {
            display: none;
        }

        & {
            justify-content: center;
        }
    }
}

@keyframes lineH {
    0% {
        transform: scaleX(-0.5);
        width: 0%;
        height: 5px;
        opacity: 0.5;
    }

    25% {
        transform: scaleY(1);
        width: 25%;
        height: 5px;
        opacity: 0.8;
    }
    45% {
        width: 45%;
        height: 5px;
        opacity: 0.2;
    }

    55% {
        width: 55%;
        height: 5px;
        opacity: 0.6;
    }

    100% {
        transform: scaleY(1.15);
        height: 5px;
        width: calc(100% - 200px);
        opacity: 1;

    }
}

.containerPartida {
    display: flex;
    text-align: center;
    align-items: center;
    border: 5px solid $color-yellow;
    background-color: $color-dark-blue-background;
    color: $color-white;
    margin-bottom: 30px;
    padding: 10px 0;
    height: 150px;
    min-width: 100px; // asta e important la resize 

}

.logoContainer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 5px solid $color-yellow;
    background-color: $color-white;
    border-radius: 50%;
    height: 150px;
    height: -moz-fit-content;
    height: fit-content;
}


.logoEchipa {
    width: 62px;
    aspect-ratio: 1;
    align-self: center;
    height: fit-content;

    & img {
        max-width: 62px !important;
        aspect-ratio: 1;
        border-radius: 50%;
    }
}


.coloanaNumeEchipa {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.detaliiPartida {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media screen and(max-width:768px) {
        padding: 20px 0;
    }
}
