@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.siteBanner {
    margin: 0 auto;
    max-width: 100%;
    text-align: center;
    min-width: 170px;
}
header{
    min-width: 226px;
}

.textHeader {
    position: absolute;
    top:1;
    & h1, h4{
        color: rgb(227, 198, 93);
    }
    @include medium{
        margin-top:30px;
    }
}