@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.headerSwiper {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 20px 50px;

  h5 {
    font-size: $font-h5;
    font-weight: 700;
    color: $color-white;
  }

  @media screen and(max-width:380px) {
    h5 {
      display: flex;
      justify-content: center;
      font-weight: 300;
      font-size: $font-body-small;
    }

    & {
      flex-direction: column;
    }
  }
}

.seeEverything {
  border: 1px solid $color-gray-100;
  height: 175px;
  border-radius: 12px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .chevron {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: #0356e8;
    color: white !important;
    padding: 12px;
    margin-bottom: 1rem;

    path {
      fill: white;
    }
  }

  .text {
    text-align: center;
    color: blue !important;
    font-weight: 600;
    font-size: $font-body-small;
  }
}

.ahref {
  text-decoration: none;
}

.swiperDirection {
  display: flex;
  flex-direction: column;

  @include responsive_W550px {
    flex-direction: row;
  }

}

.centrareStire {
  display: flex;
  justify-content: center;
}