@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.data {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 20px;
    margin-top: 30px;
    background-color: #1b1d4937;
    border: 2px solid $color-yellow;
    color: white;

    .dataRow,
    .dataCol {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}